NET   "ddr3_dq[0]"                             LOC = "AK6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[1]"                             LOC = "AG7"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[2]"                             LOC = "AJ6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[3]"                             LOC = "AK8"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[4]"                             LOC = "AK4"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[5]"                             LOC = "AJ8"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[6]"                             LOC = "AK5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[7]"                             LOC = "AF8"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[8]"                             LOC = "AJ3"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[9]"                             LOC = "AH2"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[10]"                             LOC = "AH6"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[11]"                             LOC = "AJ1"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[12]"                             LOC = "AJ4"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[13]"                             LOC = "AK1"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[14]"                             LOC = "AH5"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[15]"                             LOC = "AJ2"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[16]"                             LOC = "AE4"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[17]"                             LOC = "AE3"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[18]"                             LOC = "AF5"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[19]"                             LOC = "AF1"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[20]"                             LOC = "AF6"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[21]"                             LOC = "AF2"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[22]"                             LOC = "AE5"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[23]"                             LOC = "AG5"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[24]"                             LOC = "AD4"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[25]"                             LOC = "AC4"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[26]"                             LOC = "AE6"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[27]"                             LOC = "AC7"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[28]"                             LOC = "AD3"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[29]"                             LOC = "AC5"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[30]"                             LOC = "AD6"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[31]"                             LOC = "AC2"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[32]"                             LOC = "AG15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[33]"                             LOC = "AK16"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[34]"                             LOC = "AH15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[35]"                             LOC = "AE16"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[36]"                             LOC = "AG14"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[37]"                             LOC = "AJ17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[38]"                             LOC = "AK15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[39]"                             LOC = "AH17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[40]"                             LOC = "AJ19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[41]"                             LOC = "AH19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[42]"                             LOC = "AD19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[43]"                             LOC = "AF17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[44]"                             LOC = "AK19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[45]"                             LOC = "AG18"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[46]"                             LOC = "AE19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[47]"                             LOC = "AG19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[48]"                             LOC = "AB17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[49]"                             LOC = "AC17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[50]"                             LOC = "AB18"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[51]"                             LOC = "AD17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[52]"                             LOC = "AA18"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[53]"                             LOC = "AD18"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[54]"                             LOC = "AB19"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[55]"                             LOC = "AE18"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[56]"                             LOC = "AD14"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[57]"                             LOC = "AC14"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[58]"                             LOC = "AA16"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[59]"                             LOC = "AA15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[60]"                             LOC = "AE15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[61]"                             LOC = "Y16"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[62]"                             LOC = "AA17"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dq[63]"                             LOC = "AB15"   |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
#NET   "ddr3_addr[15]"                          LOC = "AE8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
#NET   "ddr3_addr[14]"                          LOC = "Y10"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[13]"                          LOC = "AA13"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[12]"                          LOC = "AD8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[11]"                          LOC = "AB8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[10]"                          LOC = "AE9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[9]"                           LOC = "AA10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[8]"                           LOC = "Y11"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[7]"                           LOC = "AA12"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[6]"                           LOC = "AB10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[5]"                           LOC = "AA8"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[4]"                           LOC = "AB12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[3]"                           LOC = "AC9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[2]"                           LOC = "AC10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[1]"                           LOC = "AA11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_addr[0]"                           LOC = "AB9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ba[2]"                             LOC = "AD9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ba[1]"                             LOC = "AC11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ba[0]"                             LOC = "AC12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ras_n"                             LOC = "AK9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_cas_n"                             LOC = "AG9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_we_n"                              LOC = "AJ9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_reset_n"                           LOC = "AE13"    |   IOSTANDARD = LVCMOS15             |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_cke[0]"                            LOC = "AE10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_odt[0]"                            LOC = "AK10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_cs_n[0]"                           LOC = "AH9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[0]"                             LOC = "AF7"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[1]"                             LOC = "AK3"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[2]"                             LOC = "AE1"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[3]"                             LOC = "AC1"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[4]"                             LOC = "AF15"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[5]"                             LOC = "AF18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[6]"                             LOC = "AC19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dm[7]"                             LOC = "Y15"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[0]"                          LOC = "AH7"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[0]"                          LOC = "AJ7"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[1]"                          LOC = "AG2"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[1]"                          LOC = "AH1"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[2]"                          LOC = "AG4"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[2]"                          LOC = "AG3"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[3]"                          LOC = "AD2"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[3]"                          LOC = "AD1"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[4]"                          LOC = "AH16"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[4]"                          LOC = "AJ16"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[5]"                          LOC = "AJ18"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[5]"                          LOC = "AK18"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[6]"                          LOC = "Y19"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[6]"                          LOC = "Y18"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_p[7]"                          LOC = "AC16"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_dqs_n[7]"                          LOC = "AC15"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ck_p[0]"                           LOC = "AD12"    |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;
NET   "ddr3_ck_n[0]"                           LOC = "AD11"    |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      |     SLEW = FAST        ;

NET   "FAN_FG"                                 LOC = "D16"   |     IOSTANDARD = LVCMOS33             ;
NET   "FLASH_ADDR[0]"                          LOC = "W22"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[10]"                         LOC = "V19"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[11]"                         LOC = "W26"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[12]"                         LOC = "V25"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[13]"                         LOC = "V30"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[14]"                         LOC = "V29"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[15]"                         LOC = "V27"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[16]"                         LOC = "P22"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[17]"                         LOC = "P21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[18]"                         LOC = "N24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[19]"                         LOC = "N22"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[1]"                          LOC = "W21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[20]"                         LOC = "N21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[21]"                         LOC = "N20"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[22]"                         LOC = "N19"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[23]"                         LOC = "N26"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[24]"                         LOC = "N25"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[25]"                         LOC = "N30"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[26]"                         LOC = "N29"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[2]"                          LOC = "V24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[3]"                          LOC = "U24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[4]"                          LOC = "V22"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[5]"                          LOC = "V21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[6]"                          LOC = "U23"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[7]"                          LOC = "W24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[8]"                          LOC = "W23"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADDR[9]"                          LOC = "V20"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_ADV_B"                            LOC = "M30"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_CE_B"                             LOC = "U19"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[0]"                          LOC = "P24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[10]"                         LOC = "R29"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[11]"                         LOC = "P27"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[12]"                         LOC = "P28"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[13]"                         LOC = "T30"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[14]"                         LOC = "P26"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[15]"                         LOC = "R26"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[1]"                          LOC = "R25"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[2]"                          LOC = "R20"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[3]"                          LOC = "R21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[4]"                          LOC = "T20"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[5]"                          LOC = "T21"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[6]"                          LOC = "T22"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[7]"                          LOC = "T23"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[8]"                          LOC = "U20"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_DATA[9]"                          LOC = "P29"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_OE_B"                             LOC = "M24"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_WAIT"                             LOC = "R28"   |     IOSTANDARD = LVCMOS18             ;
NET   "FLASH_WE_B"                             LOC = "M25"   |     IOSTANDARD = LVCMOS18             ;
NET   "FPGA_MASTER_CLOCK_N"                    LOC = "F13"   |     IOSTANDARD = LVDS_25              ;
NET   "FPGA_MASTER_CLOCK_P"                    LOC = "G13"   |     IOSTANDARD = LVDS_25              ;
NET   "FPGA_RESET"                             LOC = "J27"   |     IOSTANDARD = LVCMOS18             ;
NET   "FPGA_SFP0_IIC_SCL"                      LOC = "C25"   |     IOSTANDARD = LVCMOS33             ;
NET   "FPGA_SFP0_TX_DISABLE"                   LOC = "E24"   |     IOSTANDARD = LVCMOS33             ;
NET   "FPGA_SFP1_IIC_SCL"                      LOC = "D27"   |     IOSTANDARD = LVCMOS33             ;
NET   "FPGA_SFP1_TX_DISABLE"                   LOC = "G24"   |     IOSTANDARD = LVCMOS33             ;
NET   "GTXQ2_0_N"                              LOC = "C7"    |    ;
NET   "GTXQ2_0_P"                              LOC = "C8"    |    ;
NET   "RX0N"                                   LOC = "D5"    |    ;
NET   "RX0P"                                   LOC = "D6"    |    ;
NET   "RX1N"                                   LOC = "A7"    |    ;
NET   "RX1P"                                   LOC = "A8"    |    ;
NET   "TX0N"                                   LOC = "C3"    |    ;
NET   "TX0P"                                   LOC = "C4"    |    ;
NET   "TX1N"                                   LOC = "A3"    |    ;
NET   "TX1P"                                   LOC = "A4"    |    ;
NET   "VCC12V_FAN_EN"                          LOC = "J23"   |     IOSTANDARD = LVCMOS18             ;
NET   "ddr3_addr[0]"                           LOC = "AB9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "AE9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "AB8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "AD8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "AA13"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "Y10"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[15]"                          LOC = "AE8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "AA11"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "AC10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "AC9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "AB12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "AA8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "AB10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "AA12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "Y11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "AA10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "AC12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "AC11"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "AD9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "AG9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n"                              LOC = "AD11"  |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_ck_p"                              LOC = "AD12"  |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_cke"                               LOC = "AE10"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_cs_n"                              LOC = "AH9"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[0]"                             LOC = "AF7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "AK3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "AE1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "AC1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "AF15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "AF18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "AC19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "Y15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "AK6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "AH6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "AJ1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "AJ4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "AK1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "AH5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "AJ2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "AE4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "AE3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "AF5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "AF1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "AG7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "AF6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "AF2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "AE5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "AG5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "AD4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "AC4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "AE6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "AC7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "AD3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "AC5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "AJ6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "AD6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "AC2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "AG15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "AK16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "AH15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "AE16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "AG14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "AJ17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "AK15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "AH17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "AK8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "AJ19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "AH19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "AD19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "AF17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "AK19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "AG18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "AE19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "AG19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "AB17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "AC17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "AK4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "AB18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "AD17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "AA18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "AD18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "AB19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "AE18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "AD14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "AC14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "AA16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "AA15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "AJ8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "AE15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "Y16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "AA17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "AB15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "AK5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "AF8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "AJ3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "AH2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "AJ7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "AH1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "AG3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "AD1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "AJ16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "AK18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "Y18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "AC15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "AH7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "AG2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "AG4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "AD2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "AH16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "AJ18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "Y19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "AC16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt"                               LOC = "AK10"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ras_n"                             LOC = "AK9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "AE13"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "AJ9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "led[0]"                                 LOC = "L17"   |     IOSTANDARD = LVCMOS33             ;
NET   "led[1]"                                 LOC = "L18"   |     IOSTANDARD = LVCMOS33             ;
NET   "led[2]"                                 LOC = "K19"   |     IOSTANDARD = LVCMOS33             ;
NET   "led[3]"                                 LOC = "K20"   |     IOSTANDARD = LVCMOS33             ;
NET   "pci_exp_rxn[0]"                         LOC = "M5"    |    ;
NET   "pci_exp_rxn[1]"                         LOC = "P5"    |    ;
NET   "pci_exp_rxn[2]"                         LOC = "R3"    |    ;
NET   "pci_exp_rxn[3]"                         LOC = "T5"    |    ;
NET   "pci_exp_rxn[4]"                         LOC = "V5"    |    ;
NET   "pci_exp_rxn[5]"                         LOC = "W3"    |    ;
NET   "pci_exp_rxn[6]"                         LOC = "Y5"    |    ;
NET   "pci_exp_rxn[7]"                         LOC = "AA3"   |    ;
NET   "pci_exp_rxp[0]"                         LOC = "M6"    |    ;
NET   "pci_exp_rxp[1]"                         LOC = "P6"    |    ;
NET   "pci_exp_rxp[2]"                         LOC = "R4"    |    ;
NET   "pci_exp_rxp[3]"                         LOC = "T6"    |    ;
NET   "pci_exp_rxp[4]"                         LOC = "V6"    |    ;
NET   "pci_exp_rxp[5]"                         LOC = "W4"    |    ;
NET   "pci_exp_rxp[6]"                         LOC = "Y6"    |    ;
NET   "pci_exp_rxp[7]"                         LOC = "AA4"   |    ;
NET   "pci_exp_txn[0]"                         LOC = "L3"    |    ;
NET   "pci_exp_txn[1]"                         LOC = "M1"    |    ;
NET   "pci_exp_txn[2]"                         LOC = "N3"    |    ;
NET   "pci_exp_txn[3]"                         LOC = "P1"    |    ;
NET   "pci_exp_txn[4]"                         LOC = "T1"    |    ;
NET   "pci_exp_txn[5]"                         LOC = "U3"    |    ;
NET   "pci_exp_txn[6]"                         LOC = "V1"    |    ;
NET   "pci_exp_txn[7]"                         LOC = "Y1"    |    ;
NET   "pci_exp_txp[0]"                         LOC = "L4"    |    ;
NET   "pci_exp_txp[1]"                         LOC = "M2"    |    ;
NET   "pci_exp_txp[2]"                         LOC = "N4"    |    ;
NET   "pci_exp_txp[3]"                         LOC = "P2"    |    ;
NET   "pci_exp_txp[4]"                         LOC = "T2"    |    ;
NET   "pci_exp_txp[5]"                         LOC = "U4"    |    ;
NET   "pci_exp_txp[6]"                         LOC = "V2"    |    ;
NET   "pci_exp_txp[7]"                         LOC = "Y2"    |    ;
NET   "pcie_rst_n"                             LOC = "H20"   |     IOSTANDARD = LVCMOS33             ;
NET   "pcie_sys_clk_n"                         LOC = "U7"    |    ;
NET   "pcie_sys_clk_p"                         LOC = "U8"    |    ;
NET   "ddr3_addr[0]"                           LOC = "AB9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "AE9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "AB8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "AD8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "AA13"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "Y10"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[15]"                          LOC = "AE8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "AA11"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "AC10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "AC9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "AB12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "AA8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "AB10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "AA12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "Y11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "AA10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "AC12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "AC11"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "AD9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "AG9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "AD11"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "AD12"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "AE10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "AH9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "AF7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "AK3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "AE1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "AC1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "AF15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "AF18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "AC19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "Y15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "AK6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "AH6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "AJ1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "AJ4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "AK1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "AH5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "AJ2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "AE4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "AE3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "AF5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "AF1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "AG7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "AF6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "AF2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "AE5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "AG5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "AD4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "AC4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "AE6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "AC7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "AD3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "AC5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "AJ6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "AD6"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "AC2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "AG15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "AK16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "AH15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "AE16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "AG14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "AJ17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "AK15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "AH17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "AK8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "AJ19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "AH19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "AD19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "AF17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "AK19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "AG18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "AE19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "AG19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "AB17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "AC17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "AK4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "AB18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "AD17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "AA18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "AD18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "AB19"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "AE18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "AD14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "AC14"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "AA16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "AA15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "AJ8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "AE15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "Y16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "AA17"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "AB15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "AK5"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "AF8"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "AJ3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "AH2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "AJ7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "AH1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "AG3"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "AD1"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "AJ16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "AK18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "Y18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "AC15"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "AH7"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "AG2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "AG4"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "AD2"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "AH16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "AJ18"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "Y19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "AC16"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "AK10"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "AK9"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "AE13"  |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "AJ9"   |    |     VCCAUX_IO = NORMAL      ;
